.env
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg
.pytest_cache/
*.log
.eggs/
.coverage
htmlcov/
data/
frontend/test-results/
.scannerwork/
frontend/playwright-report/
frontend/playwright-report/
